{% extends 'main.html' %}

{% block content %}


{% if step == 1  %}
<form action="/step2" method="get">
   <fieldset>

        <div>
            <h2><label for="woj">Wybierz Województwo:</label></h2>

            <input type="checkbox" name="woj_on_off" value="woj_on"/>

            <select multiple name="woj">
                <option value ="all">Wszystkie</option>
                {% for w in woj %}
                    <option value = "{{ w }}">{{ w }}</option>
                {% endfor %}
            </select><br>

            <h2><label for="woj_order">Pozycja w pliku wynikowym:</label></h2>
            <input type="text" name="woj_order" value="1" />

        </div>

        <div>
            <input type="submit" value="DALEJ" />
        </div>

    </fieldset>
</form>

{% endif %}

{% if step == 2  %}

        <div>
            <h2>Wybrano województwa:
                {% for w in req.1 %}
                    {%if forloop.last %}
                        {{ w }}
                    {% else %}
                        {{ w }},
                    {% endif %}
                {% endfor %}
            </h2>
        </div>

        <hr/>

        <form action="/step3" method="get">
        <fieldset>

            <div>
                <h2><label for="woj">Wybierz Powiat:</label></h2>

                <input type="hidden" name="options" value="{{ req }}" />
                <input type="checkbox" name="pow_on_off" value="pow_on"/>

                <select multiple name="pow">
                    <option value ="all">Wszystkie</option>
                    {% for p in pow %}
                        <option value = "{{ p }}">{{ p }}</option>
                    {% endfor %}
                </select><br>

                <h2><label for="pow_order">Pozycja w pliku wynikowym:</label></h2>
                <input type="text" name="pow_order" value="2" />

            </div>

            <div>
                <input type="submit" value="DALEJ" />
            </div>

        </fieldset>
        </form>

<h4>STEP 2{{req}}</h4>
{% endif %}

{% if step == 3  %}
        <div>
            <h2>Wybrano województwa:
                {% for w in req.0.1 %}
                    {%if forloop.last %}
                        {{ w }}
                    {% else %}
                        {{ w }},
                    {% endif %}
                {% endfor %}
            </h2>
        </div>
        <hr/>
        <div>
            <h2>Wybrano powiaty:
                {% for p in req.1.1 %}
                    {%if forloop.last %}
                        {{ p }}
                    {% else %}
                        {{ p }},
                    {% endif %}
                {% endfor %}
            </h2>
        </div>

        <form action="/step4" method="get">
        <fieldset>

            <div>
                <h2><label for="gm">Wybierz Gminę:</label></h2>

                <input type="hidden" name="options" value="{{ req }}" />
                <input type="checkbox" name="gm_on_off" value="gm_on"/>

                <select multiple name="gm">
                    <option value ="all">Wszystkie</option>
                    {% for g in gm %}
                        <option value = "{{ g }}">{{ g }}</option>
                    {% endfor %}
                </select><br>

                <h2><label for="gm_order">Pozycja w pliku wynikowym:</label></h2>
                <input type="text" name="gm_order" value="3" />

            </div>

            <div>
                <input type="submit" value="DALEJ" />
            </div>

        </fieldset>
        </form>
<hr/>
<h4>STEP 3{{req}}</h4>
{% endif %}

{% if step == 4  %}
        <div>
            <h2>Wybrano województwa:
                {% for w in req.0.1 %}
                    {%if forloop.last %}
                        {{ w }}
                    {% else %}
                        {{ w }},
                    {% endif %}
                {% endfor %}
            </h2>
        </div>
        <hr/>
        <div>
            <h2>Wybrano powiaty:
                {% for p in req.1.1 %}
                    {%if forloop.last %}
                        {{ p }}
                    {% else %}
                        {{ p }},
                    {% endif %}
                {% endfor %}
            </h2>
        </div>
        <hr/>
        <div>
            <h2>Wybrano gminy:
                {% for g in req.2.1 %}
                    {%if forloop.last %}
                        {{ g }}
                    {% else %}
                        {{ g }},
                    {% endif %}
                {% endfor %}
            </h2>
        </div>

        <form action="/step5" method="get">
        <fieldset>

            <div>
                <h2><label for="adres">Wybierz miejscowość:</label></h2>

                <input type="hidden" name="options" value="{{ req }}" />
                <input type="checkbox" name="miej_on_off" value="miej_on"/>

                <select multiple name="miej">
                    <option value ="all">Wszystkie</option>
                    {% for m in miej %}
                        <option value = "{{ m }}">{{ m }}</option>
                    {% endfor %}
                </select><br>

                <h2><label for="miej_order">Pozycja w pliku wynikowym:</label></h2>
                <input type="text" name="miej_order" value="4" />

            </div>

            <div>
                <input type="submit" value="DALEJ" />
            </div>

        </fieldset>
        </form>



<h4>STEP 4 {{req}}</h4>

{% endif %}

{% if step == 5  %}

    <div>
            <h2>Wybrano województwa:
                {% for w in req.0.1 %}
                    {%if forloop.last %}
                        {{ w }}
                    {% else %}
                        {{ w }},
                    {% endif %}
                {% endfor %}
            </h2>
        </div>
        <hr/>
        <div>
            <h2>Wybrano powiaty:
                {% for p in req.1.1 %}
                    {%if forloop.last %}
                        {{ p }}
                    {% else %}
                        {{ p }},
                    {% endif %}
                {% endfor %}
            </h2>
        </div>
        <hr/>
        <div>
            <h2>Wybrano gminy:
                {% for g in req.2.1 %}
                    {%if forloop.last %}
                        {{ g }}
                    {% else %}
                        {{ g }},
                    {% endif %}
                {% endfor %}
            </h2>
        </div>
        <hr/>
        <div>
            <h2>Wybrano miejscowości:
                {% for m in req.3.1 %}
                    {%if forloop.last %}
                        {{ m }}
                    {% else %}
                        {{ m }},
                    {% endif %}
                {% endfor %}
            </h2>
        </div>


    <form action="/gen_out" method="get">
        <fieldset>

            <div>
                <input type="hidden" name="options" value="{{ req }}" />

                <div>
                <label><input type="checkbox" name="ulica_on_off" value="ulica_on"/> Ulica</label>
                <h2><label for="ulica_order">Pozycja w pliku wynikowym:</label></h2>
                <input type="text" name="ulica_order" value="5" />
                </div>

                <div>
                <label><input type="checkbox" name="nrdomu_on_off" value="nrdomu_on"/> Numer domu</label>
                <h2><label for="nrdomu_order">Pozycja w pliku wynikowym:</label></h2>
                <input type="text" name="nrdomu_order" value="6" />
                </div>

                <div>
                <label><input type="checkbox" name="kod_on_off" value="kod_on"/> Kod pocztowy</label>
                <h2><label for="kod_order">Pozycja w pliku wynikowym:</label></h2>
                <input type="text" name="kod_order" value="7" />
                </div>

                <div>
                <h2><label for="file_name">Rezultat jako plik:</label></h2>
                <input type="text" name="file_name" value="output.txt" />
                </div>
                <div align="center"><br>
                    <label><input type="radio" name="group1" value="XML"> XML</label>
                    <label><input type="radio" name="group1" value="JSON"> JSON</label>
                    <label><input type="radio" name="group1" value="CVS"> CVS</label>
                    <label><input type="radio" name="group1" value="SQL"> SQL</label>
                    <label><input type="radio" name="group1" value="TXT"> TXT</label>
                </div>

                <div>
                <h2><label for="ilosc">Wpisz ilość adresów</label></h2>
                <input type="text" name="ilosc" value="100" />
                </div>
            </div>

            <div>
                <input type="submit" value="GENERUJ" />
            </div>

        </fieldset>
        </form>


<h4>STEP 5 {{req}}</h4>


{% endif %}


{% endblock %}