
* {
    box-sizing: border-box;
	font-family:Arial, sans-serif ;
}

html {
	margin: 0;
	padding: 0;
	background-color: #3eb2a5;
	font-family:Arial, sans-serif ;
}

body {
	margin: 0;
	padding: 0;
}
h4 {
	padding-left: 25px;
}


label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 5px;
    margin-right: 15px;
	font-size: 15px;
}

input[type=checkbox] {
	width: 30px;
}

select {
    height: 23px;
	width: 200px;

}

input[type=button] {
	background-color: #3eb2a5;
	height: 22px;
	outline: none;
	border: none;
}


#greySpace {
	background-color: #474646;
	height: 110px;
}

#logo {
	background-image: url(/static/img/polska-serce.png);
	background-position: 200px 24px;
	background-repeat: no-repeat;
	padding-top: 33px;
	padding-left: 285px;
	height: 100%;
	font-size: 18px;
	color: white;
}

#redSpace {
	background-color: #fa0404;
	height: 5px;
}

#main {
	padding-top: 50px;
	padding-left: 200px;
	min-height: 760px;
	background-color: white;
	line-height: 200%;
}

#result {
    margin: 15px;

}

#buttonExample {
	margin-left: 5px;
}

#footer {
	text-align: center;
	padding-top: 15px;
}

