<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>GENERATOR ADRESÓW</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

	</head>
	<body>
		<div id="header">
			<div id="greySpace">
				<div id="logo">
					<div>GENERATOR</div>
					<div>ADRESÓW</div>
				</div>
			</div>
			<div id="redSpace">
			</div>
		</div>

		<div id="main">



				{% block content %}
				{% endblock %}




		<div id="footer">
			<div>2015 - Wyższa Szkoła Bankowa</div>
			<div>Autorzy aplikacji web: Sylwia Kos, Beata Jakimiak-Rychlicka, Joanna Górska</div>
		</div>
	</body>
</html>